@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  box-sizing: border-box;
  padding: 0;
  text-decoration: none;
  margin: 0;
  list-style: none;
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
  @apply text-text-light text-[14px] leading-[19px] bg-surface-background
}

h2{
  @apply font-[500] text-[18px] leading-[23px]
}

span{
  @apply text-[12.64px] leading-[19px]
}

p{
  @apply font-[400] text-[15px] leading-[19px]
}

a {
  color: inherit;
  text-decoration: none;
}

.inv-grid {
  grid-template-columns: 75% 25%;
}

.inv-h4 {
  @apply font-[500] text-[16px] leading-[24px]
}

.sm-grey-text {
  @apply font-[300] text-[14px] leading-[129.1%] text-[#868484]
}

.over-grid {
  grid-template-columns: 25% 16% 16% 25% 16%;
}

